body{
    background-color: cornflowerblue;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navBar{
    display: flex;
    align-items: center;

        a{
            text-decoration: none;
            margin-right: 15px;
            color: white;
        }
}

.title_container{
    text-align: center;
    color: gold;
}

.cart{
    width: 50px;
}